body, html {
  height: 100%;
  margin: 0;
  color: blueviolet; 
}

#bg {
  background-color: cadetblue; /* Fallback color */
  background-image: url("https://images.pexels.com/photos/176342/pexels-photo-176342.jpeg?cs=srgb&dl=pexels-kawser-hamid-176342.jpg&fm=jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; /* Ensure the background image covers the entire element */
}
